<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/dating.css">
    <link rel="stylesheet" href="/styles/matches.css">
    <title>Partners&Pets</title>
  </head>
  <body>
    <header>
        <h1><a href="/profiel">Partners&Pets</a></h1>
        <a href="/matches"><img src="../images/hartwit.png" alt="matches"></a>
        <a href="/chat"><img src="../images/chaticon.png" alt="chat"></a>
        <img id="profile" src="../images/profileicon.png" alt="Profiel">
    </header>
    <div id="nav" class="dropdown">
      <a href="/profiel">Profiel</a>
      <a href="/logout">Log uit</a>
    </div>

    <h3>404</h3>
    <p>page not found</p>

<script src="../js/dropdown.js"></script>
  </body>
</html>
