<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles/dating.css">
  <link rel="stylesheet" href="/styles/index.css">
  <title>Parnters&Pets</title>
</head>

<body>

  <header>
    <h1><a href="/">Partners&Pets</a></h1>
    <a href="/login"><img src="images/hartwit.png" alt="matches"></a>
    <img id="profile" src="images/profileicon.png" alt="Profiel">
  </header>
  <div id="nav" class="dropdown">
    <a href="/login">Profiel</a>
    <a href="/login">Login</a>
  </div>

  <main>
    <section>
      <h1>Partners&Pets</h1>
      <p>Partners&Pets is een datingsite voor mensen die van (huis)dieren houden.
        Je wordt gematched op basis van jouw voorkeur van dier en op wat jij zoekt in een partner.</p>
    </section>

    <button name="register"> <a href="/register"> Registreer </a> </button>
    <button name="logIn"> <a href="/login"> Inloggen </a> </button>
  </main>

  <script src="../js/dropdown.js"></script>
</body>

</html>
