<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/dating.css">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Parnters&Pets</title>
  </head>
  <body>

    <header>
        <h1><a href="/">Partners&Pets</a></h1>
        <a href="/inloggen"><img src="images/hartwit.png" alt="matches"></a>
        <img id="profile" src="images/profileicon.png" alt="Profiel">
    </header>
        <div id="nav" class="dropdown">
          <a href="/inloggen">Profiel</a>
          <a href="/inloggen">Login</a>
        </div>

<main>
  <section>
    <h1>Partners&Pets</h1>
    <p>Partners&Pets is een datingsite voor mensen die van (huis)dieren houden.
      Je wordt gematched op basis van jouw voorkeur van dier, jouw eigenschappen en de eigenschpapen die je zoekt
    in een potentiële partner.</p>
  </section>

  <button name="register"> <a href="/registreren"> Registreer </a> </button>
  <button name="logIn"> <a href="/inloggen"> Inloggen </a> </button>
</main>

<script src="../js/dropdown.js"></script>
  </body>
</html>
