<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="styles/dating.css">
  <link rel="stylesheet" href="styles/register.css">
  <title>Partners&Pets</title>
</head>

<body>
  <header>
    <h1><a href="/">Partners&Pets</a></h1>
    <a href="/inloggen"><img src="images/hartwit.png" alt="machtes"></a>
    <a href="/inloggen"><img src="images/chaticon.png" alt="chat"></a>
    <img id="profile" src="images/profileicon.png" alt="Profiel">
  </header>
  <div id="nav" class="dropdown">
    <a href="/inloggen">Profiel</a>
    <a href="/inloggen">Login</a>
  </div>

  <main>
<form action="/register" method="POST">

    <section>
        <fieldset>Registreren
          <label>Naam:
           <input type="name" name="name" required></label>
           <label>Profielfoto:
          <input type="file" name="img" accept="image/*"></label>
          <label> Leeftijd:
           <input type="number" name="age" required></label>
          <label>Woonplaats:
           <input type="city" name="city" required>
           </label>
          <label>Wachtwoord:
           <input type="password" name="password" required></label>
          <label>Herhaal wachtwoord:
           <input type="password" required></label>
          <label>E-mailadres:
               <input type="email" name="email" required></label>

          <label>Ik ben een:
           <input class="box" type="radio" name="gender" value="male" checked="checked">Man
           <input class="box" type="radio" name="gender" value="female">Vrouw</label>
          <label>Ik ben op zoek naar een:
           <input class="box" type="checkbox" name="preferredGender" value="male">Man
           <input class="box" type="checkbox" name="preferredGender" value="female">Vrouw</label>
          <a href="/inloggen">Ik heb al een account</a>

        </fieldset>
    </section>


    <section>
        <fieldset>Vraag 1: Wat is jouw favoriete huisdier?
<% data.forEach(function(data){ %>
          <label class="pets"><input class="vraag1" type="checkbox" name="favpet" value="<%= data.namePet %>"><img class="dieren" src="<%= data.img %>" alt="dog"> <%= data.namePet %> </label>
<% }) %>

        </fieldset>
    </section>

    <section>
      <h2>Vraag 2: Heb je op dit moment een huisdier?</h2>

      <label class="q2"><input type="radio" name="pet" value="Ja" checked="checked"> Ja
                        <input type="radio" name="pet" value="Nee"> Nee </label>
    </section>




    <button type="submit" value="verstuur">Volgende</button>
  </form>
  </main>

<script src="../js/dropdown.js"></script>
</body>

</html>
