<!DOCTYPE html>
<html>
  <head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/dating.css">
    <link rel="stylesheet" href="styles/question4.css">
    <title>Partners&Pets</title>
</head>

<body>
   <header>
       <h1><a href="/">Partners&Pets</a></h1>
       <a href="/inloggen"><img src="images/hartwit.png" alt="machtes"></a>
       <a href="/inloggen"><img src="images/chaticon.png" alt="chat"></a>
       <a href="/inloggen"><img src="images/profileicon.png" alt="Profiel"></a>
   </header>

   <main>

       <form action="">
           <fieldset>Welke eigenschappen zoek jij in een partner?

           <label><input type="checkbox">Betrouwbaar</label>

           <label><input type="checkbox">Eerlijk</label>

           <label><input type="checkbox">Ambitieus</label>

           <label><input type="checkbox">Passie</label>

           <label><input type="checkbox">Humor</label>

           <label><input type="checkbox">Sportief</label>

           <label><input type="checkbox">Doorzettingsvermogen</label>

           <label><input type="checkbox">Behulpzaam</label>

           <label><input type="checkbox">Vriendelijk</label>

           <label><input type="checkbox">Sociaal</label>

            <label>
               <button><a href="testvraag5.html">Volgende</a></button>
               </label>

           </fieldset>
       </form>

   </main>

</body>
</html>
