<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/dating.css">
    <link rel="stylesheet" href="styles/question2.css">
    <title>Partners&Pets</title>
</head>
<body>
   <header>
       <h1><a href="/">Partners&Pets</a></h1>
       <a href="/inloggen.html"><img src="images/hartwit.png" alt="matches"></a>
       <a href="/inloggen"><img src="images/chaticon.png" alt="chat"></a>
       <a href="/inloggen"><img src="images/profileicon.png" alt="Profiel"></a>
   </header>

   <main>

       <h2>Heb je op dit moment een huisdier?</h2>

       <a class="answer" href="testvraag3.html">Ja</a>
       <a class="answer" href="testvraag4.html">Nee</a>

   </main>

</body>
</html>
