<!DOCTYPE html>
<html>
  <head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/dating.css">
    <link rel="stylesheet" href="styles/question1.css">
    <title>Partners&Pets</title>
</head>

<body>
   <header>
       <h1><a href="/">Partners&Pets</a></h1>
       <a href="/inloggen"><img src="images/hartwit.png" alt="machtes"></a>
       <a href="/inloggen"><img src="images/chaticon.png" alt="chat"></a>
       <a href="/inloggen"><img src="images/profileicon.png" alt="Profiel"></a>
   </header>

   <main>

       <form action="">
           <fieldset>Wat voor huisdier(en) heb jij dan?

           <label class="pets"><input class="vraag1" type="checkbox" name="pet" value="dog"><img class="dieren" src="images/dog.png" alt="dog">Hond</label>

           <label class="pets"><input class="vraag1" type="checkbox" name="pet" value="cat"><img class="dieren" src="images/cat.png" alt="cat">Kat</label>

            <label class="pets"><input class="vraag1" type="checkbox" name="pet" value="knaagdieren"><img class="dieren" src="images/bunny.png" alt="">Knaagdieren</label>

           <label class="pets"><input class="vraag1" type="checkbox" name="pet" value="lizard"><img class="dieren" src="images/lizard.png" alt="">Reptielen/Amfibieen</label>

           <label class="pets"><input class="vraag1" type="checkbox" name="pet" value="birds"><img class="dieren" src="images/bird.png" alt="">Vogels</label>

           <label class="pets"><input class="vraag1" type="checkbox" name="pet" value="fish"><img class="dieren" src="images/fishes.png" alt="">Vissen</label>

           <label class="pets"><input class="vraag1" type="checkbox" name="pet" value="horse"><img class="dieren" src="images/horse.png" alt="">Paarden</label>

           <label class="pets"><input class="vraag1" type="checkbox" name="pet" value="micropig"><img class="dieren" src="images/micropig.png" alt="">Micro Pig</label>

           <label class="pets"><input class="vraag1" type="checkbox" name="pet" value="ferret"><img class="dieren" src="images/ferret.png" alt="">Fretten</label>

           <label for="">
               <button><a href="testvraag4.html">Volgende</a></button>
               </label>
           </fieldset>
       </form>

   </main>

   <script type="server.js">

   </script>

</body>
</html>
