h3 {
  font-family: "Nexa Bold", "Arial", sans-serif;
  font-size: 2rem;
  text-align: center;
  color: white;
}

p {
  font-family: "Nexa Light", "Arial", sans-serif;
  font-size: 1rem;
  text-align: center;
  color: white;
}
